{% extends "base.html" %}

{% block title %} Editar Genero {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Editar Genero</h2>
        <div class="card">
            <div class="card-body">
                <form action="/edicionGenero/" method="POST"> {% csrf_token %}
                    <div class="form-group py-2">
                        <input type="text" id="id" name="id" value="{{genero.id}}" class="form-control" readonly>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="nombre_genero" name="nombre_genero" value="{{genero.nombre_genero}}" class="form-control" placeholder="Nombre del genero" maxlength="100" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="videojuegoid" name="videojuegoid" value="{{genero.videojuegoid}}" class="form-control" placeholder="ID Videojuego" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="clasificacionid" name="clasificacionid" value="{{genero.clasificacionid}}" class="form-control" placeholder="ID Clasificacion" maxlength="100" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}