{% extends "base.html" %}

{% block title %}Usuarios{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dissmisable alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2>Usuarios</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrarUsuario/" method="POST"> {% csrf_token %}
                    <div class="form-group py-2">
                        <input type="text" id="username" name="username" class="form-control" placeholder="Nombre de usuario" maxlength="100" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="correo" name="correo" class="form-control" placeholder="Correo electronico" maxlength="100" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre de usuario</th>
                        <th>Correo Electronico</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in usuarios %}
                    <tr>
                        <td>{{u.id}}</td>
                        <td>{{u.username}}</td>
                        <td>{{u.correo}}</td>
                        <td><a href="/editarUsuario/{{u.id}}" class="btn btn-info">Editar</a></td>
                        <td><a href="/eliminarUsuario/{{u.id}}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>

    </div>

</div>
{% endblock %}